{% extends "layout.html" %}
  {% block title %}{{title}}{% endblock %}
    {% block head %}
      {{ super() }}
    {% endblock %}
  {% block page %}{{title}}{% endblock %}
  {% block heading %}
    {{ super() }}
  {% endblock %}
{% block content %}

    <iframe src="{{ url_for('static', filename='visualization/map.html')}}" style="display:block; margin: 0 auto; border:0; width:100vw; height:100%" allowfullscreen="allowfullscreen" seamless="seamless"></iframe>

  {% block footer %}
    {{super()}}
  {% endblock %}
{% endblock %}
