<!-- Modified from index.html of grayscale template -->
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{ super() }}
<style>
 .bar-plot-class {
     margin-left: -30px;
     width: 100%;
 }
 .pie-chart-class {
     width: 60%;
 }
 .density-map-class {
     width: 70%;
 }
</style>
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
{{ super() }}
{% endblock %}
{% block content %}

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">DATA &rarr; FACT</h1>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <img src="{{ url_for('static', filename='img/bar_plot.jpg')}}" class="bar-plot-class">
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>IN 2013</h2>
                <p>5:00 - 6:00 &rarr; The Least Busy</p>
                <p>19:00 - 20:00 &rarr; The Most Busy</p>
            </div>
        </div>
    </div>
</section>

<section id="pie-chart" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>If you think that there are more trips on weekends than on weekdays</p>
            <h2>THEN YOU ARE WRONG</h2>
            <img src="{{ url_for('static', filename='img/pie.png')}}" class="pie-chart-class">
        </div>
    </div>
</section>

<section id="density-map" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>High-density Vs Low-density</h2>
            <p>According to pick-ups and drop-offs</p>
            <p><img src="{{ url_for('static', filename='img/map.png')}}" class="density-map-class"></p>
        </div>
    </div>
</section>

{% block footer %}
{{super()}}
<!-- Footer -->
<footer>
    <div class="container text-center">
        
    </div>
</footer>

{% endblock %}
{% endblock %}
