{% extends "layout.html" %}
  {% block title %}{{title}}{% endblock %}
    {% block head %}
      {{ super() }}
    {% endblock %}
  {% block page %}{{title}}{% endblock %}
  {% block heading %}
    {{ super() }}
  {% endblock %}
  {% block content %}
<iframe src="{{ url_for('static', filename='visualization/test.html')}}" width="100%" height="600" style="display:block; margin: 0 auto;" allowfullscreen="allowfullscreen" seamless="seamless">
  {% block footer %}
    {{super()}}
  {% endblock %}
{% endblock %}
